html,
body {
  overflow: hidden;
  overflow-y: auto;
}
.top {
  width: 100%;
  height: 3.6rem;
  background: url(../img/art3/sky1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.2rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}
.top .top_left {
  width: 4.45rem;
  height: 1.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.top .top_left .left_img {
  width: 1.2rem;
  height: 1.2rem;
  background-color: lightgoldenrodyellow;
  border-radius: 0.125rem;
}
.top .top_left .left_title {
  width: 2.875rem;
  height: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.top .top_left .left_title .p1 {
  font-size: 0.4rem;
}
.top .top_left .left_title .p2 {
  font-size: 0.35rem;
}
.top .top_right {
  width: 1.6rem;
  height: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.top .top_right .right_btn {
  width: 1.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border-radius: 0.2rem;
  background-color: white;
  margin: auto;
  color: #fa6058;
}
.top .top_right .right_btn .p3 {
  font-size: 0.375rem;
}
.top .top_right .p4 {
  font-size: 0.3rem;
}
.tab {
  width: 100%;
  height: 1.35rem;
  border-bottom: 1px solid #000000;
}
.tab ul {
  flex-flow: row nowrap;
  display: -webkit-box;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.tab ul li {
  width: 2.625rem;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  font-size: 0.375rem;
  color: #8b8b8b;
}
.tab ul li:hover {
  border-bottom: solid 0.075rem #f33b00;
  color: black;
}
.content_wapper {
  padding: 0.35rem 0.375rem;
  box-sizing: border-box;
}
.content_wapper .swiper-container {
  width: 100%;
}
.content_wapper .swiper-container img {
  width: 100%;
}
.content_wapper .desc {
  font-size: 0.4rem;
  padding: 0.375rem 0.375rem 0.5rem 0.375rem;
}
.content_wapper .content_wapper_img {
  width: 9.75rem;
  height: 5rem;
  display: flex;
  flex-flow: row nowrap;
}
.content_wapper .content_wapper_img .content_wapper_img1 {
  width: 6.5rem;
  height: 5rem;
}
.content_wapper .content_wapper_img .content_wapper_img1 img {
  width: 100%;
  height: 100%;
}
.content_wapper .content_wapper_img .content_wapper_img2 {
  width: 3.25rem;
}
.content_wapper .content_wapper_img .content_wapper_img2 img {
  width: 100%;
  height: 70%;
}
